.main {
	background: #232731;
	color: white;
	padding-top: 10em;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Rubik", sans-serif;
	margin: 0;
	padding: 0;
}

p,
a,
span {
	font-family: "Fira Sans", sans-serif;
	color: #bababa;
	margin: 0;
	padding: 0;
}

p {
	font-size: 18px;
	line-height: normal;
}

a:hover {
	color: #bababa;
}

.badge {
	background-color: #bababa;
	color: #232731;
}

.col-content {
	width: -moz-fit-content;
	width: fit-content;
	padding-bottom: 3em !important;
	margin: auto;
}

@media only screen and (max-width: 768px) {
	.main {
		padding-top: 3em;
	}
	.col-content {
		width: 100%;
		margin: 0;
	}
	.name,
	.socials {
		margin: 0 !important;
		padding: 0;
		text-align: center;
	}
	.list {
		width: -moz-fit-content;
		width: fit-content;
		margin: auto !important;
	}
	.list > div {
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-bottom: 1em;
	}
	.content {
		width: -moz-fit-content;
		width: fit-content;
		margin: auto !important;
		padding-left: 1em;
		padding-right: 1em;
	}
}

.list {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	width: -moz-fit-content;
	width: fit-content;
}

.list > div {
	display: flex;
	padding-bottom: 1em;
	flex-direction: row;
	align-items: start;
	padding-left: 1em;
	padding-right: 1em;
}

.list > div > p {
	margin-left: 0.5em;
	font-family: "Fira Sans", sans-serif;
	font-size: 18px;
}

.list > div > svg {
	filter: invert(100%);
}

.wave {
	animation-name: wave-animation;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	transform-origin: 70% 70%;
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	}
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
